@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;1,100;1,200;1,300&family=Source+Sans+Pro&display=swap');
@import "nav";
$color:#DDC6A4;
$colores:(#333,#666,#888,#aaa,#e8e8e8);
body { 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: (nth($colores,5));
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.select{
    background-color:$color;
    padding: 10px 30px;
    color:#2d2e2f;
    border-radius: 20px;
}
.btn-menu{
    width: 50px;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    border-radius: 50%;
    transition: background 300ms; 
    display: none; 
}
.btn-menu:hover{
    background-color:$color;
}
.cover{
    width: 100%;
    padding-bottom: 60px;
    margin-top: 100px;
}
.cover h1{
    max-width: 400px;
    font-size: 60px;
    font-weight: 900;

}
.cover h2{
    font-size: 60px;
    font-weight: 900;
    color:#323335;
    margin-top: -60px;
}
.cover p{
    margin-top: -30px;
}
.cover input[type="button"]{
    padding: 10px 40px;
    margin-top: 40px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    background: radial-gradient($color,#d8c2a2);
    color:#323335;
    border-radius: 20px;
    box-shadow: 1px 1px 30px -5px #6a6b70;
    cursor: pointer;
    transition: box-shadow 500ms;
} 
.cover input[type="button"]:hover{
    box-shadow: 1px 1px 30px -5px #202122; 
}
.container-video{
    position: relative;
          
}
.container-video video{
    display: flex;
    flex-direction: column; 
    bottom: 10px;
    right: 0;
    width: 90%;
    margin-left: 100px;
    transition: all 300ms;
    margin-top: 100px;
}
.bg-color{
    width: 100%;
    height: 70%;  
    position: absolute;
    top: 50%; 
}
.wave{
    width: 13000px;
    height: 100%;
    position: absolute;
    background-image: url(fondos/wd1.svg);
    top: 68px;
    left: 0; 
    background-position: bottom;
    z-index: -50;
    animation: wave 9s linear -.300s infinite;
}
.wave1{
    width: 13000px;
    height: 100%;
    position: absolute;
    background-image: url(fondos/wd1.svg);
    top: 65px;
    left: 0; 
    background-position: bottom;
    z-index: -50;
    animation: wave2 8s linear -.300s infinite, desplazamiento 7s ease infinite;
    opacity: 0.5;
}
@keyframes wave2 {
    0% {
        margin-left: -500px;
    }
    100% {
        margin-left: -1092px;
    }
}
@keyframes desplazamiento{
    0%, 100%{
        transform: translateY(-10px); 
    }
    50% {
        transform: translateY(5px);
    } 
} 
@keyframes wave {
    0% {
        margin-left: -500px;
    }
    100% {
        margin-left: -1092px;
    }
}
.container-cover{
    max-width: 1100px;
    margin:auto;
    padding: 50px;
    display: flex;
    justify-content: space-between;
    position: relative; 
}
.cover{
    margin-top: 1px;
}
.cover .container-info{
    max-width: 400px;
    margin-top: 1px;
    z-index: 2; 
}
header .logo{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 80px;
}
.container-header{
    height: 80px; 
}
@media screen and (max-width: 760px) {
    .container-video video{
        width: 500px;
    }
}
@media screen and (max-width: 760px){
    .container-nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .btn-menu{
        display: flex;   
    }
    nav{
        height: 100%;
        background-color:#e8e8e8;
        position: fixed;
        top: 0;
        right: -350px;
        padding: 0 40px;
        transition: all 300ms;
    }
    .move_nav{
        right: 0px;
    }
    nav ul{
        flex-direction: column;
        
    }
    nav ul li{
        
        margin: 10px 0px; 
    }
    
}
.nav_mod{
    height: 70px;
    box-shadow: 1px 1px 10px 0px #323335; 
    background: ghostwhite;  
}
h1 {
    color: $color;
    margin-left: 25px;
    margin-top: 70px;
}
h2 {
    color:rgb(45, 46, 44);
    margin-left: 25px;
}
p{
    margin-left: 25px;
    margin-right: 25px;
}
.container-nosotros{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-wrap: wrap;
    margin-bottom: 250px;
}
.container-nosotros figure{
    position: relative;
    height: 350px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 10px 20px rgb(161, 161, 161);
    cursor: pointer;
    
}
.container-nosotros figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
    
}
.container-nosotros figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #d4c8bb;
    transition: all 500ms ease-out;
    opacity: 0; 
    visibility: hidden;
    text-align: center;
}
.container-nosotros figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}
.container-nosotros figure:hover > .capa h3{
    margin-top: 70px;
    margin-bottom: 15px;
}
.container-nosotros figure:hover > img{
    transform: scale(1.1);
}
.container-nosotros figure .capa h3{
    font-weight: 400px;
    margin-bottom: 120px;
    transition: all 500ms ease-out;
    margin-top: 30px;   
}
.container-nosotros figure .capa p{
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin:auto;
}
.wave-nosotros{
    width: 40000px;
    height: 800px;
    position: absolute;
    background-image: url(fondos/wd1.svg);
    top: 550px;
    left: 0; 
    background-position: bottom;
    z-index: -50;
}
.menu{
    list-style: none;
    padding: 0;
    background-color: #323335;
    width: 100%;
    max-width: 1000px;
    margin: -1px;
    
}
.menu li a{
    text-decoration: none;
    color:ghostwhite;
    padding: 20px;
    display: block;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background-color:$color; 
}
#seccioncontacto {
    background-color: gainsboro;   
}
main{
    width: 80%;
    margin:auto;
}
video {
    width: 100%;
}
.pie-pagina{
    width: 100%;
    background-color: #2B2B2B ;   
}
.pie-pagina .grupo-1{   
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    color:$color;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color:ghostwhite;
    margin-bottom: 10px;
}
.pie-pagina .grupo-1 .redsocial a{
    display: flex;
    width: 30px;
    height: 30px;
    line-height: 30px;
    justify-content: center;
    align-items: center;
    margin: 1rem; 
}
.pie-pagina .grupo-1 .redsocial{
    display:flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-2{
    background-color: #323335;
    padding: 15px 10px;
    text-align: center;
    color: ghostwhite;
}
.pie-pagina .grupo-2 small{
    font-size: 15px;
}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{   
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }   
}
.form-registro{
    width: 400px;
    background-color: #323335 ;
    padding: 50px;
    margin:auto;
    color:ghostwhite;
    box-shadow: 7px 13px 37px #000;
    margin-top: 150px;
    margin-bottom: 150px;
    
}
.controles{
    width: 100%;
    background-color:#2B2B2B;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 10px;
    border: 1px solid $color;
    color: ghostwhite; 
    
}
.form-registro p{
    height: 40px;
    text-align: center;
    font-size: 18px;
    
}
.form-registro a:hover {
    color:ghostwhite;
    text-decoration: underline;
}
.boton{ 
    width: 100%;
    background-color:$color ;
    border: none;
    padding: 12px;
    margin: 8px 0;
    font-size: 16px;
}
.boton--gris{
    width: 100%;
    background-color:#2B2B2B;
    border: none;
    color:ghostwhite;
    padding: 12px;
    margin: 8px 0;
    font-size: 16px;    
}
.form-registro h4{
    font-size: 20px;
}
.boton:hover{
    background-color:#2B2B2B;

}
.boton--gris:hover{
    background-color:$color;
}
.fondo-contacto{
    background-image: url(fondos/pc.jpg);
}
img{
    width: 100%;
}
.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
  
    background-color: #03afff;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;
  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
.grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
  }
.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
    
}
@media (min-width: 600px){
    .wide{
        grid-column: span 2;
        
    }
    .tall{
        grid-row: span 2;
    }
}
.wave-comunidad{
    width: 13000px;
    height: 800px;
    position: absolute;
    background-image: url(fondos/wd1.svg);
    top: 700px;
    left: 0; 
    background-position: bottom;
    z-index: -50;
}
.wave-rese単as{
    width: 13000px;
    height: 800px;
    position: absolute;
    background-image: url(fondos/wd1.svg);
    top: 350px;
    left: 0; 
    background-position: bottom;
    z-index: -50;
}
.rese単as .caja-contenedor{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;      
}
.rese単as .caja-contenedor .caja{
    flex: 1 1 30rem;

}
.caja-contenedor{
    padding: 15px;
}
.caja-contenedor .caja{
    background-color:ghostwhite;
    color:#2B2B2B;
    margin: 1rem;
    padding: 1rem;
    text-align: center;
    position: relative;
    border: .1rem solid #5c5a58;
    box-shadow: 0 .5rem 1rem #535151;
    flex: 1 1 40rem;
    border-radius: .5rem;
}
.rese単as .caja-contenedor .caja .user img{
    border-radius: 50%;
    object-fit: cover;
} 
.caja-contenedor .caja .user img{
    width: 20%;
    
}
.caja-contenedor .caja .user h3{
    margin: 5px;
    color: $color;
    font-size: 24px;
}
.caja-contenedor .caja .user .comentarios h4{
    margin: 5px;
    font-size: 15px;
}
.caja-contenedor .caja .star img{
    width: 1.5%;
    padding: 0 5px;
}
.wave-contacto{
    width: 13000px;
    height: 800px;
    position: absolute;
    background-image: url(fondos/wd1.svg);
    top: 200px;
    left: 0; 
    background-position: bottom;
    z-index: -50;
    animation: wave 9s linear -.300s infinite;
}
.wave1-contacto{
    width: 13000px;
    height: 780px;
    position: absolute;
    background-image: url(fondos/wd1.svg);
    top: 210px;
    left: 0; 
    background-position: bottom;
    z-index: -50;
    animation: wave2 8s linear -.300s infinite, desplazamiento 7s ease infinite;
    opacity: 0.5;
}
@keyframes wave2 {
    0% {
        margin-left: -500px;
    }
    100% {
        margin-left: -1092px;
    }
}
@keyframes desplazamiento{
    0%, 100%{
        transform: translateY(-5px); 
    }
    50% {
        transform: translateY(3px);
    } 
} 
@keyframes wave {
    0% {
        margin-left: -500px;
    }
    100% {
        margin-left: -1092px;
    }
}
.terminos{
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 150px;
}